
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
} 
.box
{
    width:auto;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.icon
{
    font-size:35px;
}
.text-center
{
    display: flex;
    justify-content: center;
}